*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"]{
    /* background-color: violet; */
}

header{
    padding: 50px;
    background-color: #14b390;
}

nav{
    padding: 10px;
    background-color: #272d40;
}

nav h1{
    font-size: 25px;
    color: white;
}

.row-list{
    font-size: 12px;
    text-align: right;
    color: white;
    margin-top: 25px;  
}

header img{
    width: 50%;
    margin-left: 25%;
}

header h1, header p, .main-mid h1{
    color: white;
    text-align: center;
}

.main-top h1{
    text-align: center;
}

.square{
    height: 250px;
    border-radius: 10px;
    background-color: teal;
}

.main-top .row{
    margin-top: 30px;
}

.main-mid{
    margin-top: 80px;
    padding: 50px;
    background-color: #14b390;
    content: "";
    display: table;
    clear: both;
}

.main-mid p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}

.main-mid button{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30%;
}