*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 50px;
    background-color: #14b390;
}

nav{
    padding: 10px;
    background-color: #272d40;
}

nav h1{
    font-size: 25px;
    color: white;
}

.row-list{
    font-size: 12px;
    text-align: right;
    color: white;
    margin-top: 25px;  
}

header img{
    width: 50%;
    margin-left: 25%;
}

header h1, header p, .main-mid h1,.footer-top h3,.footer-top p,.footer-bot p{
    color: white;
    text-align: center;
}

.main-top h1,.main-bot h1{
    color: #272d40;
    text-align: center;
}

.square{
    height: 250px;
    border-radius: 10px;
    background-color: teal;
}

.main-top .row{
    margin-top: 30px;
}

.main-mid{
    margin-top: 80px;
    padding: 50px;
    background-color: #14b390;
}

.main-mid p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}

.main-mid button{
    color: white;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30%;
}

.main-bot{
    padding: 50px;
  
}

.main-bot p, textarea{
    color: #272d40;
    border-left: none;
    border-right: none;
}

.main-bot button{
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #14b390;
}

.footer-top{
    padding: 20px;
    background-color: #43536b;
}

.icon{
    width: 80%;
    height: 20px;
    margin: auto;
    background-color: white;
}

.footer-bot{
    padding: 20px;
    background-color: #272d40;
}

@media all and (max-width: 767px){
    .row{
        width: auto;
    }

    .row-list{
        display: none;
    }

    nav h1{
        font-size: 12px;
    }

    .square{
        margin-top: 30px;
    }

    .main-bot textarea{
        width: 100%;
    }

    h1{
        font-size: 25px;
    }

    h3{
        font-size: 15px;
        margin-top: 30px;
    }
}

@media all and (min-width: 768px) and (max-width: 991px){
    .row{
        width: auto;
    }
    
    .row-list{
        font-size: 12px;
        text-align: right;
        color: white;
        margin-top: 25px;  
    }
    
    header img{
        width: 50%;
        margin-left: 25%;
    }
    
}    

    